/* You can add global styles to this file, and also import other style files */
.error
{
    color:red;
}

input.ng-touched.ng-valid
{
    border: 2px green solid;
}

input.ng-touched.ng-invalid
{
    border: 2px red solid;
}


select.ng-touched.ng-valid
{
    border: 2px green solid;
}

select.ng-touched.ng-invalid
{
    border: 2px red solid;
}
